@font-face {
    font-family: 'sf_collegiateregular';
    src: url('SF_Collegiate-webfont.eot');
    src: url('SF_Collegiate-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Collegiate-webfont.woff') format('woff'),
         url('SF_Collegiate-webfont.ttf') format('truetype'),
         url('SF_Collegiate-webfont.svg#sf_collegiateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

