@font-face {
    font-family: 'tagapagsalaysay_caps_narratBd';
    src: url('TAGACNB_-webfont.eot');
    src: url('TAGACNB_-webfont.eot?#iefix') format('embedded-opentype'),
         url('TAGACNB_-webfont.woff') format('woff'),
         url('TAGACNB_-webfont.ttf') format('truetype'),
         url('TAGACNB_-webfont.svg#tagapagsalaysay_caps_narratBd') format('svg');
    font-weight: normal;
    font-style: normal;

}

