@font-face {
    font-family: 'exo_2semi_bold_italic';
    src: url('Exo2-SemiBoldItalic-webfont.eot');
    src: url('Exo2-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2-SemiBoldItalic-webfont.woff') format('woff'),
         url('Exo2-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('Exo2-SemiBoldItalic-webfont.svg#exo_2semi_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

