@font-face {
    font-family: 'luxi_serifbold';
    src: url('luxirb-webfont.eot');
    src: url('luxirb-webfont.eot?#iefix') format('embedded-opentype'),
         url('luxirb-webfont.woff') format('woff'),
         url('luxirb-webfont.ttf') format('truetype'),
         url('luxirb-webfont.svg#luxi_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

