@font-face {
    font-family: 'paloaltoheavy';
    src: url('Palo_Alto_Regular-webfont.eot');
    src: url('Palo_Alto_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Palo_Alto_Regular-webfont.woff') format('woff'),
         url('Palo_Alto_Regular-webfont.ttf') format('truetype'),
         url('Palo_Alto_Regular-webfont.svg#paloaltoheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

