@font-face {
    font-family: 'teutonic_no1demibold';
    src: url('teutonic1-webfont.eot');
    src: url('teutonic1-webfont.eot?#iefix') format('embedded-opentype'),
         url('teutonic1-webfont.woff') format('woff'),
         url('teutonic1-webfont.ttf') format('truetype'),
         url('teutonic1-webfont.svg#teutonic_no1demibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

