@font-face {
    font-family: 'jrhandregular';
    src: url('jr!ha___-webfont.eot');
    src: url('jr!ha___-webfont.eot?#iefix') format('embedded-opentype'),
         url('jr!ha___-webfont.woff') format('woff'),
         url('jr!ha___-webfont.ttf') format('truetype'),
         url('jr!ha___-webfont.svg#jrhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

