@font-face {
    font-family: 'panefresco_999wtitalic';
    src: url('Panefresco999wt-Italic-webfont.eot');
    src: url('Panefresco999wt-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Panefresco999wt-Italic-webfont.woff') format('woff'),
         url('Panefresco999wt-Italic-webfont.ttf') format('truetype'),
         url('Panefresco999wt-Italic-webfont.svg#panefresco_999wtitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

