@font-face {
    font-family: 'kontrapunktbold';
    src: url('Kontrapunkt-Bold-webfont.eot');
    src: url('Kontrapunkt-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kontrapunkt-Bold-webfont.woff') format('woff'),
         url('Kontrapunkt-Bold-webfont.ttf') format('truetype'),
         url('Kontrapunkt-Bold-webfont.svg#kontrapunktbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

