@font-face {
    font-family: 'commandocommando';
    src: url('commando-webfont.eot');
    src: url('commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('commando-webfont.woff') format('woff'),
         url('commando-webfont.ttf') format('truetype'),
         url('commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}

