@font-face {
    font-family: 'juramedium';
    src: url('Jura-Medium-webfont.eot');
    src: url('Jura-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Jura-Medium-webfont.woff') format('woff'),
         url('Jura-Medium-webfont.ttf') format('truetype'),
         url('Jura-Medium-webfont.svg#juramedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

