@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('SinkinSans-700Bold-webfont.eot');
    src: url('SinkinSans-700Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('SinkinSans-700Bold-webfont.woff') format('woff'),
         url('SinkinSans-700Bold-webfont.ttf') format('truetype'),
         url('SinkinSans-700Bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

