@font-face {
    font-family: 'candela_boldbold';
    src: url('CandelaBold-webfont.eot');
    src: url('CandelaBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('CandelaBold-webfont.woff') format('woff'),
         url('CandelaBold-webfont.ttf') format('truetype'),
         url('CandelaBold-webfont.svg#candela_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

