@font-face {
    font-family: 'gentium_book_basicbold_italic';
    src: url('GenBkBasBI-webfont.eot');
    src: url('GenBkBasBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('GenBkBasBI-webfont.woff') format('woff'),
         url('GenBkBasBI-webfont.ttf') format('truetype'),
         url('GenBkBasBI-webfont.svg#gentium_book_basicbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

