@font-face {
    font-family: 'fortysecondstreethbregular';
    src: url('FORTSSH_-webfont.eot');
    src: url('FORTSSH_-webfont.eot?#iefix') format('embedded-opentype'),
         url('FORTSSH_-webfont.woff') format('woff'),
         url('FORTSSH_-webfont.ttf') format('truetype'),
         url('FORTSSH_-webfont.svg#fortysecondstreethbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

