@font-face {
    font-family: 'ubuntu_titlingbold';
    src: url('UbuntuTitling-Bold-webfont.eot');
    src: url('UbuntuTitling-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('UbuntuTitling-Bold-webfont.woff') format('woff'),
         url('UbuntuTitling-Bold-webfont.ttf') format('truetype'),
         url('UbuntuTitling-Bold-webfont.svg#ubuntu_titlingbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

