@font-face {
    font-family: 'year_supply_of_fairy_cakesRg';
    src: url('Yearsupplyoffairycakes-webfont.eot');
    src: url('Yearsupplyoffairycakes-webfont.eot?#iefix') format('embedded-opentype'),
         url('Yearsupplyoffairycakes-webfont.woff') format('woff'),
         url('Yearsupplyoffairycakes-webfont.ttf') format('truetype'),
         url('Yearsupplyoffairycakes-webfont.svg#year_supply_of_fairy_cakesRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

