@font-face {
    font-family: 'trocchiregular';
    src: url('Trocchi-webfont.eot');
    src: url('Trocchi-webfont.eot?#iefix') format('embedded-opentype'),
         url('Trocchi-webfont.woff') format('woff'),
         url('Trocchi-webfont.ttf') format('truetype'),
         url('Trocchi-webfont.svg#trocchiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

