@font-face {
    font-family: 'itsadzokes01regular';
    src: url('itsadzokeS01-046-webfont.eot');
    src: url('itsadzokeS01-046-webfont.eot?#iefix') format('embedded-opentype'),
         url('itsadzokeS01-046-webfont.woff') format('woff'),
         url('itsadzokeS01-046-webfont.ttf') format('truetype'),
         url('itsadzokeS01-046-webfont.svg#itsadzokes01regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

