@font-face {
    font-family: 'exo_2light';
    src: url('Exo2-Light-webfont.eot');
    src: url('Exo2-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Exo2-Light-webfont.woff') format('woff'),
         url('Exo2-Light-webfont.ttf') format('truetype'),
         url('Exo2-Light-webfont.svg#exo_2light') format('svg');
    font-weight: normal;
    font-style: normal;

}

