@font-face {
    font-family: 'texgyreherosbold';
    src: url('texgyreheros-bold-webfont.eot');
    src: url('texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bold-webfont.woff') format('woff'),
         url('texgyreheros-bold-webfont.ttf') format('truetype'),
         url('texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

