@font-face {
    font-family: 'playfair_display_scregular';
    src: url('PlayfairDisplaySC-Regular-webfont.eot');
    src: url('PlayfairDisplaySC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('PlayfairDisplaySC-Regular-webfont.woff') format('woff'),
         url('PlayfairDisplaySC-Regular-webfont.ttf') format('truetype'),
         url('PlayfairDisplaySC-Regular-webfont.svg#playfair_display_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

