@font-face {
    font-family: 'impact_labelregular';
    src: url('Impact_Label-webfont.eot');
    src: url('Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('Impact_Label-webfont.woff') format('woff'),
         url('Impact_Label-webfont.ttf') format('truetype'),
         url('Impact_Label-webfont.svg#impact_labelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

