@font-face {
    font-family: 'cinzelblack';
    src: url('Cinzel-Black-webfont.eot');
    src: url('Cinzel-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cinzel-Black-webfont.woff') format('woff'),
         url('Cinzel-Black-webfont.ttf') format('truetype'),
         url('Cinzel-Black-webfont.svg#cinzelblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

