@font-face {
    font-family: 'immortal_-_alternatesregular';
    src: url('IMMRTLT_-webfont.eot');
    src: url('IMMRTLT_-webfont.eot?#iefix') format('embedded-opentype'),
         url('IMMRTLT_-webfont.woff') format('woff'),
         url('IMMRTLT_-webfont.ttf') format('truetype'),
         url('IMMRTLT_-webfont.svg#immortal_-_alternatesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

