@font-face {
    font-family: 'panefresco_800wtitalic';
    src: url('Panefresco800wtItalic-webfont.eot');
    src: url('Panefresco800wtItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Panefresco800wtItalic-webfont.woff') format('woff'),
         url('Panefresco800wtItalic-webfont.ttf') format('truetype'),
         url('Panefresco800wtItalic-webfont.svg#panefresco_800wtitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

