@font-face {
    font-family: 'share-bolditalicexpregular';
    src: url('Share-BoldItalicExp-webfont.eot');
    src: url('Share-BoldItalicExp-webfont.eot?#iefix') format('embedded-opentype'),
         url('Share-BoldItalicExp-webfont.woff') format('woff'),
         url('Share-BoldItalicExp-webfont.ttf') format('truetype'),
         url('Share-BoldItalicExp-webfont.svg#share-bolditalicexpregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

