@font-face {
    font-family: 'tagapagsalaysay_caps_narratIt';
    src: url('TAGACNI_-webfont.eot');
    src: url('TAGACNI_-webfont.eot?#iefix') format('embedded-opentype'),
         url('TAGACNI_-webfont.woff') format('woff'),
         url('TAGACNI_-webfont.ttf') format('truetype'),
         url('TAGACNI_-webfont.svg#tagapagsalaysay_caps_narratIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

