@font-face {
    font-family: 'tagapagsalaysay_caps_narrBdIt';
    src: url('TAGACNBI-webfont.eot');
    src: url('TAGACNBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('TAGACNBI-webfont.woff') format('woff'),
         url('TAGACNBI-webfont.ttf') format('truetype'),
         url('TAGACNBI-webfont.svg#tagapagsalaysay_caps_narrBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

