@font-face {
    font-family: 'flux_architectbold_italic';
    src: url('Flux_Architect_Bold_Italic-webfont.eot');
    src: url('Flux_Architect_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Flux_Architect_Bold_Italic-webfont.woff') format('woff'),
         url('Flux_Architect_Bold_Italic-webfont.ttf') format('truetype'),
         url('Flux_Architect_Bold_Italic-webfont.svg#flux_architectbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

