@font-face {
    font-family: 'new_ciclesemi_italic';
    src: url('New_Cicle_Semi_Italic-webfont.eot');
    src: url('New_Cicle_Semi_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('New_Cicle_Semi_Italic-webfont.woff') format('woff'),
         url('New_Cicle_Semi_Italic-webfont.ttf') format('truetype'),
         url('New_Cicle_Semi_Italic-webfont.svg#new_ciclesemi_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

