@font-face {
    font-family: 'cabinregular';
    src: url('Cabin-Regular-webfont.eot');
    src: url('Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cabin-Regular-webfont.woff') format('woff'),
         url('Cabin-Regular-webfont.ttf') format('truetype'),
         url('Cabin-Regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

