@font-face {
    font-family: 'greyscalebasicitalic';
    src: url('Greyscale_Basic_Regular_Italic-webfont.eot');
    src: url('Greyscale_Basic_Regular_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Greyscale_Basic_Regular_Italic-webfont.woff') format('woff'),
         url('Greyscale_Basic_Regular_Italic-webfont.ttf') format('truetype'),
         url('Greyscale_Basic_Regular_Italic-webfont.svg#greyscalebasicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

