@font-face {
    font-family: 'goudy_bookletter_1911regular';
    src: url('goudy_bookletter_1911-webfont.eot');
    src: url('goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('goudy_bookletter_1911-webfont.woff') format('woff'),
         url('goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('goudy_bookletter_1911-webfont.svg#goudy_bookletter_1911regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

