@font-face {
    font-family: 'juice_boldbold';
    src: url('JUICE_Bold-webfont.eot');
    src: url('JUICE_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('JUICE_Bold-webfont.woff') format('woff'),
         url('JUICE_Bold-webfont.ttf') format('truetype'),
         url('JUICE_Bold-webfont.svg#juice_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

