@font-face {
    font-family: 'playtimewithhottoddies3dRg';
    src: url('PlaytimeWithHotToddies3D-webfont.eot');
    src: url('PlaytimeWithHotToddies3D-webfont.eot?#iefix') format('embedded-opentype'),
         url('PlaytimeWithHotToddies3D-webfont.woff') format('woff'),
         url('PlaytimeWithHotToddies3D-webfont.ttf') format('truetype'),
         url('PlaytimeWithHotToddies3D-webfont.svg#playtimewithhottoddies3dRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

