@font-face {
    font-family: 'crimson_textbold';
    src: url('CrimsonText-Bold-webfont.eot');
    src: url('CrimsonText-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('CrimsonText-Bold-webfont.woff') format('woff'),
         url('CrimsonText-Bold-webfont.ttf') format('truetype'),
         url('CrimsonText-Bold-webfont.svg#crimson_textbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

