@font-face {
    font-family: 'latin_modern_roman10_italic';
    src: url('lmroman10-italic-webfont.eot');
    src: url('lmroman10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmroman10-italic-webfont.woff') format('woff'),
         url('lmroman10-italic-webfont.ttf') format('truetype'),
         url('lmroman10-italic-webfont.svg#latin_modern_roman10_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

