@font-face {
    font-family: 'tagapagsalaysay_caps_narratRg';
    src: url('TAGACNRG-webfont.eot');
    src: url('TAGACNRG-webfont.eot?#iefix') format('embedded-opentype'),
         url('TAGACNRG-webfont.woff') format('woff'),
         url('TAGACNRG-webfont.ttf') format('truetype'),
         url('TAGACNRG-webfont.svg#tagapagsalaysay_caps_narratRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

