@font-face {
    font-family: 'freebooter_script_-_altsRg';
    src: url('FREEBSCA-webfont.eot');
    src: url('FREEBSCA-webfont.eot?#iefix') format('embedded-opentype'),
         url('FREEBSCA-webfont.woff') format('woff'),
         url('FREEBSCA-webfont.ttf') format('truetype'),
         url('FREEBSCA-webfont.svg#freebooter_script_-_altsRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

