@font-face {
    font-family: 'giant_head_otregular';
    src: url('giant_head_regular_ot-webfont.eot');
    src: url('giant_head_regular_ot-webfont.eot?#iefix') format('embedded-opentype'),
         url('giant_head_regular_ot-webfont.woff') format('woff'),
         url('giant_head_regular_ot-webfont.ttf') format('truetype'),
         url('giant_head_regular_ot-webfont.svg#giant_head_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

