@font-face {
    font-family: 'share-techmonoregular';
    src: url('Share-TechMono-webfont.eot');
    src: url('Share-TechMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('Share-TechMono-webfont.woff') format('woff'),
         url('Share-TechMono-webfont.ttf') format('truetype'),
         url('Share-TechMono-webfont.svg#share-techmonoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

