@font-face {
    font-family: 'sf_toontimeregular';
    src: url('SF_Toontime-webfont.eot');
    src: url('SF_Toontime-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Toontime-webfont.woff') format('woff'),
         url('SF_Toontime-webfont.ttf') format('truetype'),
         url('SF_Toontime-webfont.svg#sf_toontimeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

