@font-face {
    font-family: 'playtimewithhottoddiesobliqRg';
    src: url('PlaytimeOblique-webfont.eot');
    src: url('PlaytimeOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('PlaytimeOblique-webfont.woff') format('woff'),
         url('PlaytimeOblique-webfont.ttf') format('truetype'),
         url('PlaytimeOblique-webfont.svg#playtimewithhottoddiesobliqRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

